$brand-primary:               #00AE65;
$jumbotron-bg:                white;
$footer-default-bg:           #6e6e6e;
@import "bootstrap-sprockets";
@import "bootstrap";
.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}